*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
}
html{
    font-size: 62.5%;
}
.container{
    background: rgb(255, 155, 155);
    padding: 1rem;
    margin-top: 1rem;
}

.draggable{
    padding: 1rem;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}
.draggable.dragging{
    opacity: 0.5;
}